@import 'variables.css';
@import 'headers.css';
@import 'turn-history.css';
@import 'board.css';
@import 'score-board.css';

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  grid-template-areas:
    'title title title'
    'turn-history-container board-container score-board-container';
  align-items: center;
  justify-items: center;
  height: 0;

  background-color: var(--page-background);
}

button {
  margin: 1em 0em;
  padding: 0.83em 0em;
  width: 100%;
  font-size: 1.1em;
}

.player1 {
  color: var(--player1-color);
}

.player2 {
  color: var(--player2-color);
}
